<!DOCTYPE html>
<html>
  <head>
    <title>Url Shortener</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="Christina Leuci">
      <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100italic,700italic,500italic' rel='stylesheet' type='text/css'>
      
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <%= render 'layouts/nav' %>
      <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
